
.body{
  background-color:black;
}

.tag-body {
  width: 100%;
  background-color: ivory;
  cursor: crosshair;
}

.all-checkbox {
  position: fixed;
}

.first-checkbox {
  color: pink;
  font-size: 17px;
}

.second-checkbox {
  color: mediumspringgreen;
  font-size: 17px;
}

.third-checkbox {
  color: dodgerblue;
  font-size: 17px;
}

.fourth-checkbox {
  color: saddlebrown;
  font-size: 17px;
}

.fith-checkbox {
  color: lime;
  font-size: 17px;
}

.sixth-checkbox {
  color: orange;
  font-size: 17px;
}

.seventh-checkbox {
  color: gold;
  font-size: 17px;
}

.deathproof-one {
  width: 50%;
  padding-left: 30%;
  left: auto;
  color: orange;
  font-family: times;
  position: ;
  line-height: 1.3;
}

img:hover {
transform: scale(2.20);
}

.inglourious-one {
  width: 50%;
  padding-left: 30%;
  color: dodgerblue;
  font-family: times
  line-height: 1.3;
}

.reservoir-one {
  width: 50%;
  padding-left: 30%;
  color: mediumvioletred;
  font-family: times;
  line-height: 1.3;
}

.pulpfiction-one {
  width: 50%;
  padding-left: 30%;
  color: coral;
  font-family: times;
  line-height: 1.3;
}

.ouatih-one {
  width: 50%;
  padding-left: 30%;
  color: paleturquoise;
  font-family: times;
  line-height: 1.3;
}

.thehateful-one {
  width: 50%;
  padding-left: 30%;
  color: darkgrey;
  font-family: times;
  line-height: 1.3;
}

.killbill-one {
  width: 50%;
  padding-left: 30%;
  color: gold;
  font-family: times;
  line-height: 1.3;

}
